extends layout

block content
  .container-fluid.hidden-phone.hidden-tablet
    nav#nav.navbar.row-fluid(role='navigation')
      .rmenu
        .menubutton(type='button', data-toggle='dropdown')
          img.logo3(src='/images/3lines.png')
          h3.menutext Menu
        h3.navtext1.hidden-phone Andrew Cunliffe Design (Under Construction)
        img.logo2(src='/images/logo1.png')
        ul#menu.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='dropdownMenu1')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div1') About Me
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div2') stockickr  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div3') Web and Mobile Design  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div5') Logo Design                 
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div7') Reach Out      
    section.module.parallax.parallax-1
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
    section.module.parallax.parallax-2
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
    section.module.parallax.parallax-3
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
     nav.navbar#footer.row-fluid
      .iconwrap
        p#float-l Connect With Me on LinkedIn
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')

  nav#nav.navbar.row-fluid.show-phone.show-tablet.hidden-desktop(role='navigation')
      .rmenu
        .menubutton(type='button', data-toggle='dropdown')
          img.logo3(src='/images/3lines.png')
          h3.menutext Menu
        h3.navtext1.hidden-phone Andrew Cunliffe Design (Under Construction)
        img.logo2(src='/images/logo1.png')
        ul#menu.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='dropdownMenu1')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div1') About Me
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div2') stockickr  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div3') Web and Mobile Design  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div5') Logo Design                 
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div7') Reach Out
  .container-fluid.maindiv.show-phone.show-tablet.hidden-desktop#pbox
    section.module.parallax.parallax-1
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
    section.module.parallax.parallax-2
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
    section.module.parallax.parallax-3
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
     nav.navbar#footer.row-fluid
      .iconwrap
        p#float-l Connect With Me on LinkedIn
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')
    
      
  script(src='/javascripts/jquery/jquery-2.0.3.min.js')
  script(src="/javascripts/bootstrap.min.js")

  script.
    $(document).ready(function () {
    $('#menu').on('click', 'a', function () {
        $('.current').not($(this).closest('li').addClass('current')).removeClass('current');
        // fade out all open subcontents
        $('.pbox:visible').hide(800);
        // fade in new selected subcontent
        $('.pbox[id=' + $(this).attr('data-id') + ']').show(800);
    });
    });
  script.
    $(document).ready(function () {
    $('#menu1').on('click', 'a', function () {
        $('.current').not($(this).closest('li').addClass('current')).removeClass('current');
        // fade out all open subcontents
        $('.pbox:visible').hide(800);
        // fade in new selected subcontent
        $('.pbox[id=' + $(this).attr('data-id') + ']').show(800);
    });
    });

  
  script.
    $(document).ready(function () {
    $('#logo').click(function() {
    $('#trigger').fadeOut(1000, 'swing', function() { $(this).remove(); });
    });
    });
  script.
    $(document).ready(function () {
    $('#logo').click(function() {
    $('#vid').fadeOut(1000, 'swing', function() { $(this).remove(),$('#main').fadeIn(1000, 'swing', function() { $(this).add(); });
     });
    });
    });
  script.
    $(document).ready(function () {
    $('#timer').hide(0).delay(10000).show(0);
    });
  
  