extends layout

block content
  .container-fluid.sitewrapper    
    .topdiv
      .siteline Andrew Cunliffe Design Engineer     
      video#vid.header-unit(autoplay='', loop='', poster='/images/jump.jpg')
          source(src='/videos/jump.webm', type='video/webm')
          source(src='/videos/jump.mp4', type='video/mp4')
    
  .maindiv.jumbotron words words words
      
  script(src='/javascripts/jquery/jquery-2.0.3.min.js')
  script(src="/javascripts/jquery.scrollTo.js") 
  script(src="/javascripts/jquery.localScroll.js")
  script(src="/javascripts/bootstrap.min.js")