extends layout

block content
  .container-fluid.sitewrapper
    .vidcover
      img#logo(src='/images/logo2.png')
      h1 Andrew Cunliffe Design Engineer                              
    video#vid.container-fluid(autoplay='', loop='', poster='/images/jump.jpg')
      source(src='/videos/jump.webm', type='video/webm')   
  .maindiv
    h1.strapline Andrew Cunliffe Design Engineer
    .navbar words words words
    .jumbotron#main words words words
      
  script(src='/javascripts/jquery/jquery-2.0.3.min.js')
  script(src="/javascripts/jquery.scrollTo.js") 
  script(src="/javascripts/jquery.localScroll.js")
  script(src="/javascripts/bootstrap.min.js")