extends layout

block content
  .container-fluid.sitewrapper
    .vidcover.visible-desktop
      img#logo(src='/images/logo2.png')
      h3 Andrew Cunliffe Design Engineer                              
    video#vid.visible-desktop(autoplay='', loop='', poster='/images/jump.jpg')
      source(src='/videos/jump.webm', type='video/webm')   
  .container-fluid.maindiv
    nav.navbar.navbar-default(role='navigation') words words words
    .jumbotron#main words words words
      
  script(src='/javascripts/jquery/jquery-2.0.3.min.js')
  script(src="/javascripts/jquery.scrollTo.js") 
  script(src="/javascripts/jquery.localScroll.js")
  script(src="/javascripts/bootstrap.min.js")