extends layout

block content
  .container-fluid.sitewrapper
    .vidcover.visible-desktop#trigger
      img#logo(src='/images/logo2.png')
      h1 Andrew Cunliffe Design Engineer                              
    video#vid.visible-desktop(autoplay='', loop='', poster='/images/jump1.png')
      source(src='/videos/jump.webm', type='video/webm')   
  .container-fluid.maindiv#main.hidden-phone.hidden-tablet
    nav#nav.navbar.row-fluid(role='navigation')
      .rmenu
        img.logo3(src='/images/logo3.png')
        h1.navtext.hidden-phone Andrew Cunliffe Design Engineer 
        img.pointer(type='button', data-toggle='dropdown', src='/images/3lines.png')
        ul#menu.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='dropdownMenu1')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div1') About Me
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div2') Web and Mobile Design  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div3') Built From Mockups
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div4') Logo Design
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div5') Responsive
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div6') Reach Out                    
    .container-fluid#wrap
      .main-content.container-fluid
        #div1.contentdiv.pbox About Me
          p.content-text I grew up in Marin County, CA. I joined the army as soon as I could, and left for basic training a week after turning 18. After basic and Airborne School, I went to Fort Bragg, NC, where I was an airborne infantryman in the 82nd Airborne Division. I completed two tours in Iraq, one during the invasion, which I left for, only 28 days after arriving at Bragg. The second was short notice, the day after Thanksgiving, to spend a consecutive Holiday Season in Baghdad, securing the safety of the first Iraqi democratic vote in decades, operating in the most volatile sector of Baghdad, Haifa Street.
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/cemetary.jpg' alt= 'army')
          p.content-text My degree is in Finance, and thought I wanted to be an analyst, trader, what have you, but that’s not what I want to do. I want to build amazing, beautiful, technology, and tech companies. My future dream beyond this one, is to advise, mentor, and fund veteran spawned tech companies.
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/me.png' alt= 'me')
          p.content-text What I've been doing recently   
        #div2.pbox.contentdiv Web and Mobile Design
          p.content-text-c I recently redesigned Dicitonary.com to test my skills, and later did a build based on my mockups.
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/d1.png' alt= 'dictionary.com')
          .row-fluid
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/d2.png' alt= 'dictionary.com')
          .row-fluid
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/d3.png' alt= 'dictionary.com')
          p.content-text-c Head over to the built with mockups section to see the build
        #div3.pbox.contentdiv Built From Mockups
          p.content-text-c video div below
          video(autoplay='', loop='')
            source(src='https://www.dropbox.com/s/vd2dy1b1uuh52il/dictionarydesktop.mov')
        #div4.pbox.contentdiv Logo Design
          p.content-text I like to design logos using a mashup of OmniGraffle, Photoshop, and Illustrator. I do this, in order to make a responsive vector, that works across devices.
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/oglogo.png' alt= 'dictionary.com')
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/aplogo.png' alt= 'dictionary.com')
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/ailogo.png' alt= 'dictionary.com')          
        #div5.pbox.contentdiv Responsive
          p.content-text-c video div below
          video(autoplay='', loop='')
            source(src='https://www.dropbox.com/s/vd2dy1b1uuh52il/dictionarymobile.mov')
        #div6.pbox.contentdiv Reach Out
          p.content-text Want to talk to me about job openings at your company?
          p.content-text Are you a recruiter?
          p.content-text email me here
    nav.navbar#footer.row-fluid
      .iconwrap
        p#float-l Connect With Me on LinkedIn
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')

  .container-fluid.maindiv.show-phone.show-tablet.hidden-desktop
    nav#nav.navbar.navbar-default.row-fluid(role='navigation')
      .rmenu
        img.logo3(src='/images/logo3.png')
        h3.navtext.hidden-phone Andrew Cunliffe Design Engineer 
        img.pointer(type='button', data-toggle='dropdown', src='/images/3lines.png')
        ul#menu1.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='dropdownMenu1')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div1') About Me
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div2') Web and Mobile Design  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div3') Built From Mockups
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div4') Logo Design
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div5') Responsive
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div6') Reach Out
    .container-fluid#wrapm
      .main-content.container-fluid
        #div1.contentdiv.pbox About Me
          p.content-textm I grew up in Marin County, CA. I joined the army as soon as I could, and left for basic training a week after turning 18. After basic and Airborne School, I went to Fort Bragg, NC, where I was an airborne infantryman in the 82nd Airborne Division. I completed two tours in Iraq, one during the invasion, which I left for, only 28 days after arriving at Bragg. The second was short notice, the day after Thanksgiving, to spend a consecutive Holiday Season in Baghdad, securing the safety of the first Iraqi democratic vote in decades, operating in the most volatile sector of Baghdad, Haifa Street.
          .container-fluid
            img#img-wrapperm.img-responsive.img-rounded(src='/images/cemetary.jpg' alt= 'army')
          p.content-textm My degree is in Finance, and thought I wanted to be an analyst, trader, what have you, but that’s not what I want to do. I want to build amazing, beautiful, technology, and tech companies. My future dream beyond this one, is to advise, mentor, and fund veteran spawned tech companies.
          .container-fluid
            img#img-wrapperm.img-responsive.img-rounded(src='/images/me.png' alt= 'me')
          p.content-textm What I've been doing recently
        #div2.pbox.contentdiv Web and Mobile Design
          p.content-text-c I recently redesigned Dicitonary.com to test my skills, and later did a build based on my mockups.
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/d1.png' alt= 'dictionary.com')
          p.content-text-c Head over to the built with mockups section to see the build
        #div3.pbox.contentdiv Built From Mockups
          p.content-text-c video div below
          video(autoplay='', loop='')
            source(src='https://www.dropbox.com/s/vd2dy1b1uuh52il/dictionarydesktop.mov')
        #div4.pbox.contentdiv Logo Design
          p.content-text-m I like to design logos using a mashup of OmniGraffle, Photoshop, and Illustrator. I do this, in order to make a responsive vector, that works across devices.
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/oglogo.png' alt= 'dictionary.com')
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/aplogo.png' alt= 'dictionary.com')
          .container-fluid
            img#img-wrapper.img-responsive.img-rounded.img-scale(src='/images/ailogo.png' alt= 'dictionary.com')
        #div5.pbox.contentdiv Responsive
          p.content-text-c video div below
          video(autoplay='', loop='')
            source(src='https://www.dropbox.com/s/vd2dy1b1uuh52il/dictionarymobile.mov')
        #div6.pbox.contentdiv Reach Out
          p.content-text Want to talk to me about job openings at your company?
          p.content-text Are you a recruiter?
          p.content-text email me here
    nav.navbar#footer.row-fluid
      .iconwrap
        p#float-l Connect With Me on LinkedIn
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')
      
  script(src='/javascripts/jquery/jquery-2.0.3.min.js')
  script(src="/javascripts/jquery.scrollTo.js") 
  script(src="/javascripts/jquery.localScroll.js")
  script(src="/javascripts/bootstrap.min.js")

  script.
    window.onload = function () {}

  script.
    $(document).ready(function () {
    $('#menu').on('click', 'a', function () {
        $('.current').not($(this).closest('li').addClass('current')).removeClass('current');
        // fade out all open subcontents
        $('.pbox:visible').hide(800);
        // fade in new selected subcontent
        $('.pbox[id=' + $(this).attr('data-id') + ']').show(800);
    });
    });
  script.
    $(document).ready(function () {
    $('#menu1').on('click', 'a', function () {
        $('.current').not($(this).closest('li').addClass('current')).removeClass('current');
        // fade out all open subcontents
        $('.pbox:visible').hide(800);
        // fade in new selected subcontent
        $('.pbox[id=' + $(this).attr('data-id') + ']').show(800);
    });
    });
  script.
    $(document).ready(function () {
    $('#logo').click(function() {
    $('#trigger').fadeOut(1000, 'swing', function() { $(this).remove(); });
    });
    });
  script.
    $(document).ready(function () {
    $('#logo').click(function() {
    $('#vid').fadeOut(1000, 'swing', function() { $(this).remove(),$('#main').fadeIn(1000, 'swing', function() { $(this).add(); });
     });
    });
    });  
  
  