extends layout

block content
  .container-fluid.hidden-phone.hidden-tablet
    nav#nav.navbar.row-fluid(ng-controller='floatCtrl')
      .rmenu
        .menubutton(type='button', data-toggle='dropdown')
          img.logo3(src='/images/3lines.png')
          h3.menutext Menu
        h3.navtext1.hidden-phone AC Design
        img.logo2(src='/images/logo1.png')
        ul#menu.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='dropdownMenu1')
          li(role='presentation')
            a(href='#main', du-smooth-scroll duration='1500', du-scrollspy='', offset='', ng-click=' dude()') About Me
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#stockickr', data-id='div2') stockickr  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project1', data-id='div3') PoolShrk  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#project2', data-id='div5') True Spirit          
    section#aboutMe.module.parallax.parallax-1.top
      .container
        h1 Andrew Cunliffe Design
    section.module.content
      h2 About Me
      p.left A;OIJF;OIASJDFIO;JZDS;ILFJIO;ZDSJF;OIJADI;OFJA;OIDFJIOd
      p.verticalLine
      p.right wepoj'jfdj;sdjfkaj;dj;sdj;JASDJFH;OASHD;FHZS;DOHFOZDSJ
    section#stockickr.module.parallax.parallax-2
      .container
        h1 stockickr
    section.module.content
      h2 My Idea
      p.left A;OIJF;OIASJDFIO;JZDS;ILFJIO;ZDSJF;OIJADI;OFJA;OIDFJIOd
      p.verticalLine
      p.right wepoj'jfdj;sdjfkaj;dj;sdj;JASDJFH;OASHD;FHZS;DOHFOZDSJ
    section#main.module.parallax.parallax-3
      .container
        h1 PoolShrk
    section.module.content
      h2 Project One
      p.left A;OIJF;OIASJDFIO;JZDS;ILFJIO;ZDSJF;OIJADI;OFJA;OIDFJIOd
      p.verticalLine
      p.right wepoj'jfdj;sdjfkaj;dj;sdj;JASDJFH;OASHD;FHZS;DOHFOZDSJ
    section#project2.module.parallax.parallax-4
      .container
        h1 True Spirit
    section.module.content
      h2 Project Two
      p.left A;OIJF;OIASJDFIO;JZDS;ILFJIO;ZDSJF;OIJADI;OFJA;OIDFJIOd
      p.verticalLine
      p.right wepoj'jfdj;sdjfkaj;dj;sdj;JASDJFH;OASHD;FHZS;DOHFOZDSJ
     nav.navbar#footer.row-fluid
      .iconwrap
        p#float-l Connect With Me on LinkedIn
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')

  nav#nav.navbar.row-fluid.show-phone.show-tablet.hidden-desktop(role='navigation')
      .rmenu
        .menubutton(type='button', data-toggle='dropdown')
          img.logo3(src='/images/3lines.png')
          h3.menutext Menu
        h3.navtext1.hidden-phone Andrew Cunliffe Design (Under Construction)
        img.logo2(src='/images/logo1.png')
        ul#menu.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='dropdownMenu1')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div1') About Me
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div2') stockickr  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div3') Web and Mobile Design  
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div5') Logo Design                 
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#', data-id='div7') Reach Out
  .container-fluid.maindiv.show-phone.show-tablet.hidden-desktop#pbox
    section.module.parallax.parallax-1.img-responsive
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
    section.module.parallax.parallax-2
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
    section.module.parallax.parallax-3
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
    section.module.parallax.parallax-4
      .container
        h1 Title
    section.module.content
      .container
        h2 Content
        p Content
     nav.navbar#footer.row-fluid
      .iconwrap
        p#float-l Connect With Me on LinkedIn
        a.linkedin-icon(href='https://www.linkedin.com/in/cunliffeandrew', target='_blank')
    
      
  script(src='/javascripts/jquery/jquery-2.0.3.min.js')
  script(src="/javascripts/bootstrap.min.js")
  script(src='javascripts/lib/angular/angular.js')
  script(src='javascripts/lib/angular/angular-route.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')  
  script(src='javascripts/ui-bootstrap-tpls.min.js')
  

  
  
  