@import '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css';
@font-face 
  font-family:'leagueG'
  src url('/fonts/LeagueGothic-Regular.otf')

body
  overflow none
  background url("/images/graypoly.png") center center fixed
  background-size cover
  background-position left top
  
  
.pbox
  display none

#div1
  display block

#main
  display none

.sitewrapper
  position relative
  height 90%
  width 100%
  margin auto
  overflow none
  overflow-y hidden

.container-fluid
  margin 0
  padding 0
  height auto
  text-align center

.vidcover
  position absolute
  height 100%
  width 100%
  background-color rgba(201,201,199,.60)
  text-align center
  z-index 1
  text-align center
  display block
  overflow-y hidden

.vidcover.visible-desktop
  & h1
    font-family:'leagueG'
    text-shadow 0px 0px 1px #f5f36a, 0px 0px 1px #f5f36a
    -webkit-font-smoothing antialiased

img#logo
  display inline-block
  vertical-align middle
  text-align center
  padding-top 20%
  cursor pointer

video#vid
  position relative
  width 100%
  height 10%
  background url(/images/jump1.png) no-repeat
  background-size cover
  overflow-y hidden
  
.maindiv
  position relative
  background url("/images/graypoly.png") center center fixed
  background-size cover
  background-position left top
  height 80%
  width 100%
  margin 0
  overflow none
  z-index 1
  padding 0
  display inline-block

#nav
  background-color: rgba(201,201,199,0.85);
  border 1px solid #e67820

img.pointer
  float right
  display inline-block
  cursor pointer

img.logo3
  float left
  display inline-block
  padding-top 7px
  padding-left 20px

h1.navtext
  display inline-block
  padding-left 30px
  font-family:'leagueG'
  margin-top 15px
  text-shadow 0px 0px 1px #f5f36a, 0px 0px 1px #f5f36a
  -webkit-font-smoothing antialiased

ul
  &.dropdown-menu
    background-color rgba(201,201,199,0.85)
    margin-right 20px
    border 1px solid #e67820

ul
  & li.divider
    border 1px solid #e67820


.dropdown-menu
  & li
    & a
      -webkit-font-smoothing antialiased
      text-shadow 0px 0px 0.5px #f5f36a, 0px 0px 0.5px #f5f36a      



.container-fluid#wrap
  height auto
  margin 40px 0 0 0

.container-fluid#wrapm
  height auto
  margin 40px 0 0 0

.main-content
  height 100%
  width 80%
  position relative
  background-color rgba(201,201,199,0.85)
  margin 0 auto 0 auto
  border 1px solid #e67820

.contentdiv
  background-color rgba(255,255,255,0.50)
  display inline-block
  position relative
  text-align center
  vertical-align middle
  margin 0 auto 0 auto
  font-family:'leagueG'
  font-size 200%
  -webkit-font-smoothing antialiased
  text-shadow 0px 0px 0.5px #f5f36a, 0px 0px 0.5px #f5f36a
  padding-top 15px


p.content-text
  font-family:'leagueG'
  margin 0 30px 0 30px
  text-align justify
  font-size 80%
  padding 15px 0 20px 0
  text-shadow none

p.content-textm
  font-family:'leagueG'
  margin 0 30px 0 30px
  text-align left
  font-size 80%
  padding 20px 0 20px 0

img#img-wrapper
  margin 0 auto 0 auto
  padding 0 15px 0 15px
  max-height 400px
  
img#img-wrapperm
  margin 0 auto 0 auto
  padding 0 15px 0 15px
  max-height 250px

#footer.navbar
  background-color: rgba(201,201,199,0.85);
  border 1px solid #e67820
  height 100px
  margin 40px auto 0 auto
  position relative
  display block